---
// ProjectCard.astro

const { project } = Astro.props;
---

<article class="card">
  <a href={project.image.link} aria-hidden="true" tabindex="-1">
    <img
      src={project.image.src}
      alt={project.image.alt}
      width="400"
      height="250"
      loading="lazy"
    />
  </a>
  <div class="content">
    <div>
      <h3>{project.name}</h3>
      <p class="github"><a href={project.github}>{project.github}</a></p>
    </div>
    <p>{project.description}</p>
    <p><strong>Tags:</strong> {project.tags.join(', ')}</p>
    <p><strong>Last updated:</strong> {project.lastUpdated}</p>
  </div>
</article>

<style>
  .card {
    box-shadow: 2px 2px 5px #07A0C3;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #fff;  /* Light background by default */
    color: #000;             /* Dark text by default */
    transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }

  /* .content{
    width: fit-content;
  } */

  .card:hover {
    box-shadow: 4px 4px 10px #07A0C3;
  }

  /* Dark Mode Styles */
  /* @media (prefers-color-scheme: dark) {
    .card {
      background-color: #000; /* Dark background
      color: #fff;            /* Light text
      box-shadow: 2px 2px 5px #07A0C3; /* Retain the blue shadow
    }

    a {
      color: #07A0C3; /* Make links stand out in dark mode
    }

    .card:hover {
      box-shadow: 4px 4px 10px #07A0C3;
    }
  } */
</style>
