---
// ProjectCard.astro

const { project } = Astro.props;
---

<article class="card">
  <a href={project.image.link}>
    <img
      src={project.image.src}
      alt={project.image.alt}
      width="400"
      height="250"
      loading="lazy"
    />
  </a>
  <div class="content">
    <div>
      <h3>{project.name}</h3>
      <p class="github"><a href={project.github || '#'} target="_blank" rel="noopener noreferrer">View on GitHub</a></p>
      <p class="website"><a href={project.website || '#'} target="_blank" rel="noopener noreferrer">Live Demo</a></p>
    </div>
    </div>
    <p class="project-description"><a href={project.github || '#'}  target="_blank" rel="noopener noreferrer">{project.description}</a></p>
    <p><strong>Tags:</strong> {Array.isArray(project.tags) ? project.tags.join(', ') : project.tags}</p>
    <p><strong>Last updated:</strong> {project.lastUpdated}</p>
  </div>
</article>

<style>
  .card {
    box-shadow: 2px 2px 5px #07A0C3;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #fff;
    color: #000;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }

  .content {
    width: fit-content;
  }

  .card:hover {
    box-shadow: 4px 4px 10px #07A0C3;
  }

  @media (prefers-color-scheme: dark) {
    .card {
      background-color: #000;
      color: #fff;
      box-shadow: 2px 2px 5px #07A0C3;
    }


    .card:hover {
      box-shadow: 4px 4px 10px #07A0C3;
    }

    .project-link {
      color: white;
    }

    .project-link:active {
      font-style: italic;
    }

    .github .website {
      font-style: italic;
    }

  }

</style>
